.profile-content {
    margin-left: 5vw;
    height: 80vh;
    width: 75vw;
}

.profile-content h2 {
    margin: 5vh auto;
    width: 100%;
    text-align: center;
}

.profile-content h3 {
    margin-bottom: 0;
}

.profile-content ul {
    list-style: none;
}

.profile-content li {
    display: flex;
    justify-content: space-between;
}

.fa-pen, .fa-trash-alt {
    color: black;
    font-size: 1em;
}

.black-line {
    margin-block-start: 0em;
}

.lateral-menu-arrow{
    margin-left: 0.5vw;
    margin-right: 1vw;
    color: black;
    font-size: 1.5em;
}

.lateral-menu h3 {
    display: flex;
    align-items: center;
}

.red-line {
    border-top: 0.01px solid rgba(245, 5, 5, 0.85);
}