#signUp-page {
    justify-content: center;
}

#sign-up-form {
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 25vw;
    border-radius: 1em;
    background-color: rgba(245, 5, 5, 0.85);
}

#sign-up-form h1 {
    margin-bottom: 0;
    font-weight: normal;
    font-size: 2.3em;
    text-align: center;
    color: var(--main-white); 
}

#sign-up-form .fa-flag {
    font-size: 1em;
}

#sign-up-form fieldset {
    margin: auto;
    width: 20vw;
    border: none;
}

.label-section {
    display: flex;
    align-items: center;
    height: 4vh;
    padding-top: 1.5em;
    font-size: 1em;
}

.icon {
    margin-left: 0.5em;
    padding: 0.5em;
    color: black;
    font-size: 1.07em;
}

#sign-up-form input {
    width: 100%;
    border-radius: 1em;
    border: none;
    font-size: 1.2em;
}

#sign-up-form button {
    margin: 1.3em auto;
    display: flex;
    justify-content: center;
    width: 10vw;
    padding: 0.5em;
    border-radius: 1em;
    font-size: 1em;
    color: var(--main-white);
    background-color: #8a1818;
}
