@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');

:root {
    --red-hover: rgba(255, 5, 5, 0.85);
    --main-red: rgba(245, 5, 5, 0.85);
    --main-white: #FFFFFF;
    --main-grey: rgba(136, 132, 132, 0.05);
    --main-blue: #002B99;
    --menu-item: rgba(117, 117, 117, 0.2);
}

* {
    font-family: 'Overlock', sans-serif;
}

body{
    margin: 10vh 0 0 0;
    display: flex;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 10vh;
    left: 0px;
    right: 0;
    top: 0px;
    background: var(--main-red);
}

header h1 {
    font-weight: normal;
    font-size: 2.3em;
    color: var(--main-white); 
}

header ul li {
    list-style: none;
}

.home-icon {
    position: absolute;
    left: 0;
}

.icon {
    padding: 1em;
    background-color: transparent;
}

.fas, .far {
    font-size: 2em;
    color: var(--main-white);
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

#nav-left {
    position: absolute;
    right: 0;
    padding-inline-start: 0;
}

#nav-left li{
    display: inline;
}

/*Lateral menu*/

.lateral-menu {
    position: absolute;
    height: 90vh;
    width: 12vw;
    text-align: center;
    background-color: var(--main-grey);
}

.lateral-menu h3 {
    margin: 1em 0 0 0;
}

.lateral-menu ul {
    list-style: none;
    padding-inline-start: 0.5em;
}

.lateral-menu button {
    width: 100%;
    background-color: transparent;
    font-size: 1em;
}

.menu-options {
    display: flex;
    align-items: center;
    width: 90%;
    text-align: left;
}

.menu-arrow {
    margin-left: 1vw;
    padding-bottom: 0.3em;
    color: black;
    font-size: 1.5em;
}

.fa-sort-up {
    padding-bottom: 0;
    padding-top: 0.5em;
}

/* Projects menu */
.project-menu-item {
    display: none;
    text-align: right;
}

.project-menu-item  button {
    border-bottom: 0.3em solid var(--main-white);
    font-weight: bold;
    text-align: right;
    font-size: 0.9em;
    background: rgba(117, 117, 117, 0.08);
}

.project-menu-item .fa-flag {
    margin-left: 0.5vw;
    font-size: 1.2em;
}

/*Settings menu*/
#lateral-menu-right {
    z-index: 5;
    right: 0;
    display: none;
}

/* Content */
#content {
    display: flex;
    justify-content: space-around;
    margin: 2vh auto;
    height: 86vh;
    width: 75vw;
    border-radius: 0.5em;
}

#adicionar label {
    margin-top: 5vh;
    width: 30vw;
}

/* task card */
.content-card {
    padding: 0.5em;
    margin-top: 2em;
    width: 20vw;
    height: 72vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 0.09em solid black;
    border-radius: 1em;
    background-color: var(--main-grey);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.title-card{
    position: relative;
    margin:1vh auto;
}

.title-card h3 {
    margin: 0 0 2vh 0;
    font-size: 1em;
    text-align: center;
}

.button-plus {
    padding: 0.5em;
    position: absolute;
    top: -1.9vh;
    right: 0vw;
}

.fa-plus-circle {
    color: var(--main-red);
}

.newTaskDescription {
    display: none;
    margin: 3vh 1vh 1vh 1vh;
}

.newTaskDescription input {
    width: 80%;
    transform:translateY(-25%);
    border: none;
    outline: none;
    font-size: 1em;
}

.task {
    display: flex;
    margin: 3vh 2vh 0 0;
}

.task-flag {
    font-size: 1.6em;
} 

.doing-flag {
    color: yellow;
}

.todo-flag {
    color: red;
}

.done-flag {
    color: green;
}

/*to update*/
@media (max-width: 1000px) {
    .lateral-menu {
        width: 16vw;
    }

    #content {
        flex-wrap: wrap;
    }

    .content-card {
        margin-top: 1vh;
        height: 40vh;
        width: 30vw;
        font-size: 1.1em;
    }

    .card-todo {
        width: 64vw;
        height: 34vh;
    }

    #todo-description{
        width: 30vw;
    }
}

@media (max-width: 772px) {
    .lateral-menu {
        width: 19vw;
    }

    #content {
        margin-top: 0.5vh;
        width: 60vw;
    }

    .card-done, .card-doing {
        width: 26vw;
        height: 40vh;
    }

    .card-todo {
        width: 64vw;
        height: 35vh;
    }

}

@media (max-width: 672px) {
    #content {
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .button-plus {
        right: -2vw;
    }

    .content-card {
        width: 57vw;
    }
}
