/* Projects menu */
.project-menu-item {
    display: none;
    text-align: right;
}

.project-menu-item button{
    border-bottom: 0.3em solid var(--main-white);
    font-weight: bold;
    text-align: right;
    font-size: 0.9em;
    background-color: rgba(117, 117, 117, 0.08);
}

.menu-options .fa-sort-up {
    padding-bottom: 0;
    padding-top: 0.5em;
}

.project-menu-item .fa-flag {
    margin-left: 0.5vw;
    font-size: 1.2em;
}

.project-title {
    margin: 0 auto;
    position: absolute;
    top: 10vh;
}

/* task card */
.content-card {
    padding: 0.5em;
    margin-top: 2em;
    width: 20vw;
    height: 72vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 0.09em solid black;
    border-radius: 1em;
    background-color: var(--main-grey);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.title-card{
    position: relative;
    margin:1vh auto;
}

.title-card h3 {
    margin: 0 0 2vh 0;
    font-size: 1em;
    text-align: center;
}

.button-plus {
    padding: 0.5em;
    position: absolute;
    top: -1.9vh;
    right: 0vw;
}

.fa-plus-circle {
    color: var(--main-red);
}

.newTaskDescription {
    display: none;
    margin: 3vh 1vh 1vh 1vh;
}

.newTaskDescription input {
    width: 80%;
    transform:translateY(-25%);
    border: none;
    outline: none;
    font-size: 1em;
}

.task {
    display: flex;
    margin: 3vh 2vh 0 0;
}

.task-flag {
    font-size: 1.6em;
} 

.doing-flag {
    color: yellow;
}

.todo-flag {
    color: red;
}

.done-flag {
    color: green;
}

/* Modal */
.modal-background {
    position: absolute;
    display: none; 
    justify-content: center;
    width: 100vw;
    height: 90vh;
    z-index: 10;
    background-color: rgba(223, 215, 215, 0.4);
}

.modal-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 30vw;
    padding: 2em;
    background-color:  rgba(199, 196, 196, 0.2);
}

.modal-title {
    text-align: center;
}

.modal-form label {
    margin-top: 5vh;
}

.modal-form input {
    height: 5vh;
    border: none;
}

.fieldset-btn {
    margin: auto;
    padding: auto;
    border: none;
}

.fieldset-btn button {
    margin: 5em 2.5em 0em 2.5em;
    border: none;
    padding: 1em;
    width: 8vw;
    font-size: 1em;
}

.modal-save-btn {
    color: var(--main-white);
    background-color:#2753c0;

}

.modal-reset-btn {
    background-color: rgba(199, 196, 196, 0.5);
}