@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');

:root {
    --red-hover: rgba(255, 5, 5, 0.85);
    --main-red: rgba(245, 5, 5, 0.85);
    --main-white: #FFFFFF;
    --main-grey: rgba(117, 117, 117, 0.09);
    --main-blue: #002B99;
}

* {
    font-family: 'Overlock', sans-serif;
}

body{
    margin: 10vh 0 0 0;
    display: flex;
}

/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 10vh;
    left: 0px;
    right: 0;
    top: 0px;
    background: var(--main-red);
}

header h1 {
    font-weight: normal;
    font-size: 2.3em;
    color: var(--main-white); 
}

header ul li {
    list-style: none;
}

.home-icon {
    position: absolute;
    left: 0;
}

.icon {
    padding: 1em;
    background-color: transparent;
}

.icon:hover {
    cursor: pointer;
}

.fas, .far {
    font-size: 2em;
    color: var(--main-white);
}

button {
    border: none;
    outline: none;
}


#nav-left {
    position: absolute;
    right: 0;
    padding-inline-start: 0;
}

#nav-left li{
    display: inline;
}

/* Lateral menu */
.lateral-menu {
    position: fixed;
    height: 90vh;
    width: 15vw;
    text-align: center;
    background-color: var(--main-grey);
}

#lateral-menu-right {
    z-index: 5;
    right: 0;
    display: none;
}

.lateral-menu-opc {
    font-size: 1em;
    width: 100%;
    height: 5vh;
}

/* Content */
#content {
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin: 2vh auto;
    height: 86vh;
    left: 16vw;
    width: 68vw;
    border-radius: 0.5em;
}

#content h2{
    margin-top: 5vh;
    margin-bottom: 0;
    text-align: center;
}

#adicionar label {
    margin-top: 5vh;
    width: 30vw;
}

/* task card */
.content-card {
    padding: 0.5em;
    margin-top: 2em;
    width: 20vw;
    height: 72vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-shadow-color:#a35a8d;
    text-align: center;
    border: 0.09em solid black;
    border-radius: 1em;
    background-color: var(--main-grey);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.title-card{
    position: relative;
    margin:1vh auto;
}

.title-card h3 {
    margin: 0 0 2vh 0;
}

.button-plus {
    padding: 0.5em;
    position: absolute;
    top: -1.3vh;
    left: 17vw;
}

.fa-plus-circle {
    color: var(--main-red);
}

.newTaskDescription {
    display: none;
    margin: 3vh auto;
}

.newTaskDescription input {
    width: 18vw;
    box-sizing: content-box;
    outline: none;
    font-size: 1em;
}

.newTaskDescription button {
    margin: 1vh;
    width: 6vw;
    font-size: 1.1em;
}

.newTaskDescription button:hover {
    cursor: pointer;
}

.saveNewTask{
    margin-right: 10px;
    color: #FFFFFF;
    background-color: var(--main-blue);
}

.discardNewTask {
    background-color: var(--main-white);
}

.task {
    display: flex;
    margin: 3vh 2vh 0 0;
}

.task span {
    text-align: left;
}

.task .fas {
    font-size: 1.4em;
}

.doing-flag {
    color: yellow;
}

.todo-flag {
    color: red;
}

.done-flag {
    color: green;
}